<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.give_me_project_idea">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Give_Me_Project_Idea">
        <activity android:name=".YungAI"></activity>
        <activity android:name=".YungCE" />
        <activity android:name=".Yunghap" />
        <activity android:name=".EEJUJU" />
        <activity android:name=".EEICTT" />
        <activity android:name=".eeee9" />
        <activity android:name=".EEGONG" />
        <activity android:name=".EEGIGE" />
        <activity android:name=".eeee8" />
        <activity android:name=".eeee7" />
        <activity android:name=".eeee6" />
        <activity android:name=".eeee5" />
        <activity android:name=".eeee4" />
        <activity android:name=".eeee3" />
        <activity android:name=".EEBIOO" />
        <activity android:name=".eeee2" />
        <activity android:name=".eeee1" />
        <activity android:name=".MMSAMD" />
        <activity android:name=".MMBUBU" />
        <activity android:name=".MMGEGE" />
        <activity android:name=".MMGGMN" />
        <activity android:name=".mmmm10" />
        <activity android:name=".mmmm9" />
        <activity android:name=".mmmm8" />
        <activity android:name=".mmmm7" />
        <activity android:name=".mmmm6" />
        <activity android:name=".mmmm5" />
        <activity android:name=".mmmm4" />
        <activity android:name=".mmmm3" />
        <activity android:name=".mmmm2" />
        <activity android:name=".mmmm1" />
        <activity android:name=".PageYYCD" />
        <activity android:name=".AllHak" />
        <activity android:name=".PageYYCK" />
        <activity android:name=".yyyy7" />
        <activity android:name=".yyyy6" />
        <activity android:name=".yyyy5" />
        <activity android:name=".yyyy4" />
        <activity android:name=".yyyy3" />
        <activity android:name=".yyyy2" />
        <activity android:name=".yyyy1" />
        <activity android:name=".eeeeHack" />
        <activity android:name=".yyyyHack" />
        <activity android:name=".moonHack" />
        <activity android:name=".result4" />
        <activity android:name=".EYpage7" />
        <activity android:name=".EYpage6" />
        <activity android:name=".EYpage5" />
        <activity android:name=".EYpage4" />
        <activity android:name=".EYpage3" />
        <activity android:name=".EYpage2" />
        <activity android:name=".EYpage1" />
        <activity android:name=".result3" />
        <activity android:name=".result2" />
        <activity android:name=".MYpage7" />
        <activity android:name=".MYpage6" />
        <activity android:name=".MYpage5" />
        <activity android:name=".MYpage4" />
        <activity android:name=".MYpage3" />
        <activity android:name=".MYpage2" />
        <activity android:name=".MYpage1" />
        <activity android:name=".pageNine" />
        <activity android:name=".result1" />
        <activity android:name=".pageEight" />
        <activity android:name=".pageSeven" />
        <activity android:name=".pageSix" />
        <activity android:name=".pageFive" />
        <activity android:name=".pageFour" />
        <activity android:name=".Credits" />
        <activity android:name=".pageThree" />
        <activity android:name=".pageTwo" />
        <activity android:name=".pageOne" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>